body {
    margin: 0;
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track {
    border-radius: 5rem;
    background-color: rgba(0, 0, 0, 0.3);
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

.themes-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.theme-button__item {
    background: none;
    border: 2px solid #ff8d30;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #ffb570;
    transition: 0.25s;
    cursor: pointer;
}

.theme-button__item:hover,
.theme-button__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-size: 20px;
}

.footer-logo {
    width: 6em;
}

footer .footer-data.copyright {
    color: white;
}

footer .copyright {
    color: white;
    text-align: center;
}

footer .copyright a {
    color: #555;
    transition: color 0.2s;
}

footer .copyright a:hover {
    color: #bbb;
}

footer .copyright:before {
    content: '©';
}

@media (max-width:640px) {
    h1 {
        text-align: center;
    }
    footer {
        height: 140px;
        flex-direction: column;
    }
    footer > a {
        order: -1;
    }
    footer > p {
        margin: 0;
    }
}