@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --main-color:#FF2820;
  --border-color: rgb(170, 170, 170);
  --backgroung-color-button: #FF2820;
  --font-color-light: rgb(245, 245, 245);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  background-color: rgb(240, 240, 240);
}