.mainWrapper {
  min-height: calc(100vh - 210px);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.buttonPrimary {
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
  background-color: white;
}

.buttonPrimary:hover {
  transition: 0.3s;
  color: var(--main-color);
  background-color: rgb(255, 231, 231);
}

.buttonPrimary.active {
  border-color: var(--main-color);
  background-color: rgb(255, 231, 231);
}

.content__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

