footer {
  display: flex;
  padding: 0 40px;
  padding-top: 40px;
  background: url('../../../assets/images/noise_transparent.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
  h3 {
    color: $color-light-xl;
  }
  .contacts-info {
    margin-top: 16px;
    width: 279px;
    .email, .phone {
      margin-top: 40px;
    }
  }
  .address-info {
    width: 302px;
    margin-top: 17px;
    margin-left: 160px;
    margin-right: 160px;
    .address1  {
      margin-top: 30px;
    }
    .address2 {
      margin-top: 32px;
    }
  }
  .email, .phone, .address1, .address2 {
    @extend %flex-align-center;
    span {
      color: $primary-color;
      margin-left: 20px;
    }
  }
  @media (max-width:$desktop-width) {
    padding: 0 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    .contacts-info, .address-info {
      margin-top: 0px;
    }
    .contacts-info {
      margin-left: 34px;
    }
    .address-info {
      margin-left: 60px;
      margin-right: 0px;
    }
    >img {
      margin-top: 65px;
      margin-left: 204px;
    }
  }
}