header {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 1280px;
  background: url(/shelter/assets/images/background.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.logo {
  display: flex;
  flex-direction: column;
  height: 60px;
  cursor: pointer;
  h1 {
    letter-spacing: 0.06em;
    margin: 0;
    margin-top: 5px;
  }
  p {
    color: $color-light-xl;
    font-size: 13px;
    letter-spacing: 0.1em;
    margin: 0;
    margin-top: 15px;
    margin-left: 5px;
    line-height: 15px;
  }
}

.nav ul {
  display: flex;
  gap: 35px;
  margin-top: 16px;
  color: $color-dark-s;
}

.nav ul li a {
  line-height: 160%;
  transition: color 0.4s;
}

.nav ul li a:hover {
  color: $color-light-s;
  transition: color 0.4s;
}

.nav ul li a.active {
  color: $color-light-s;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  text-decoration-color: $primary-color;
  cursor: default;
}