header {
  padding-top: 30px;
  background-image: none;
  background-color: $color-light-xl;
  position: sticky;
  top: 0;
  max-width: 1280px;
  @media (max-width:$desktop-width) {
    height: 120px;
  }
  @media (max-width:$tablet-width) {
    .nav.active {
      ul li a {
        color: $color-dark-s;
      }
      ul li a.active {
        color: $color-light-s;
      }
    }
  }
}

.burger-icon {
  .bar1, .bar2, .bar3 {
    background-color: black;
  }
}

.logo {
  h1 {
    color: $color-dark-l;
  }
  p {
    color: $color-dark-3xl;
  }
}

.nav ul li a {
  color: $color-dark-l;
}

.nav ul li a:hover {
  color:$color-dark-3xl;
}

.nav ul li a.active {
  color: $color-dark-3xl;
}