.filters {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  padding: 10px;
  background-color: white;
  border: 1px solid var(--border-color);
  border-radius: 15px;
}

.filters__byYear, .filters__byQuantity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters__byBrand, .filters__byColor, .filters__byCameras {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.filters__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filters__value {
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
}

.filters__byCameras .filters__value {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.filters__value:hover {
  transition: 0.3s;
  color: var(--main-color);
  background-color: rgb(255, 231, 231);
}

.filters__value.active {
  border-color: var(--main-color);
  background-color: rgb(255, 231, 231);
}

.buttons__onlyPopular {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.filters__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.buttonPrimary {
  border: 1px solid black;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
  background-color: white;
}

.buttonPrimary:hover {
  transition: 0.3s;
  color: var(--main-color);
  background-color: rgb(255, 231, 231);
}